beautifulsoup4==4.13.4
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
greenlet==3.2.0
h11==0.14.0
idna==3.10
jh2==5.0.9
niquests==3.14.0
numpy==2.2.5
playwright==1.51.0
playwright-stealth==1.0.6
pyee==12.1.1
pyfiglet==1.0.2
pyquotex==1.0.2
python-dotenv==1.1.0
qh3==1.5.0
requests==2.32.3
soupsieve==2.7
ta-lib==0.5.1
typing-extensions==4.13.2
urllib3==2.4.0
urllib3-future==2.12.918
wassima==1.2.2
websocket-client==1.8.0